.blogcontainer {
  max-width: 728px;
  width: 100%;
  margin: 0 auto 10em;
  line-height: 1.5;
}

.blogtitle {
  font-size: 2.2rem;
  font-weight: 400;
}

.blogbody {
  font-size: 1.2rem;
}

.blogbody img {
  max-width: 100%;
}

.blogsubtitle {
  font-weight:300;
  color: #999;
  width: 100%;
}
